dist/
!www/favicon.ico
www/
coverage/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.editorconfig
.DS_Store
Thumbs.db
.env
secrets.env
