dist/
storybook-static/
coverage/
.jest-test-results.json
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.editorconfig
.DS_Store
Thumbs.db
.env
secrets.env

src/components.d.ts

TODO
