{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "selector-class-pattern": ".",
    "selector-max-compound-selectors": 5,
    "max-nesting-depth": 5,
    "selector-no-qualifying-type": null
  }
}